# Flutter/Dart/Pub
**/build/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ENV/

# IDE/Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.atom/
.buildlog/
*.iml
*.ipr
*.iws
.project
.settings/
.classpath

# Fastapi specific
.env
settings.json

# Nx
.nx/
.nx-cache/
node_modules/

# App specific
*.log
ios/Pods/
android/.gradle/
android/key.properties
google-services.json
GoogleService-Info.plist 